// colors
$darkGray:#333;
$gray:#666;
$blue:#1c88bf;
$darkBlue:#364051;
$offWhite: #f0ebeb;
// m-size
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
// font-sizes
$font-size-large:1.8rem;
$font-size-small:1.4rem;
// media
$desktop-breakpoint: 45rem;

